{
  "arrowParens": "avoid",
  "printWidth": 90,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 90,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": true,
        "bracketSpacing": true,
        "explicitTypes": "always"
      }
    }
  ]
}
